<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Find X Value</title>
</head>
<body>
	<% include nav.ejs %>
	<h1>Finding X value (3, 5, 9, 15, X)</h1>
	<h1>X = <%=datavalue %></h1>
</body>
</html>