<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Find Y Value</title>
</head>
<body>
	<% include nav.ejs %>
	<h1>Finding Y value ( (Y + 24)+(10 × 2) = 99 )</h1>
	<form action="/findYshow" method="get">
		<input type="submit" value="Find Y">
	</form>

</body>
</html>