<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Find New X Value</title>
</head>
<body>
	<% include nav.ejs %>
	<h1>Finding X value (If 1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X )</h1>
	<h1>X = <%=datavalue %></h1>
</body>
</html>