<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Find X Value</title>
</head>
<body>
	<% include nav.ejs %>
	<h1>Finding X value (3, 5, 9, 15, X)</h1>
	<form action="/findXshow" method="get">
		<input type="submit" value="Find X">
	</form>

</body>
</html>